#courseListBoxHeader{
	border-bottom: 1px solid #fff;
	font-size: 24px;
	color: #a0a0a0;
	line-height: 44px;
	height: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#courseListBoxHeader #nowTeacher.active,#oldTeacher.active{
	color: #6a3906;
	border-bottom: 1px solid #6a3906;
	height: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#courseListBoxHeader #nowTeacher,#oldTeacher{width: 160px;text-align: center;cursor: pointer;}
