body, html {
	min-width: 1254px;
	height: auto;
}
.content{
	width: 100%;
	position: relative;
}
.top-nav{
	height: 54px;
	border-bottom: 1px solid #ddd;
}
.top-nav{
	line-height: 54px;
	z-index: 999;
}
.switch-city{
	display: inline-block;
	position: relative;
	height: 100%;
}
.triangle-border-up {
	display: block;
	width: 0;
	height: 0;
	border-width: 0 15px 15px;
	border-style: solid;
	border-color: transparent transparent rgba(0,0,0,.8);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -15px;
}
.t-city-b{
	position: relative;
	z-index: 99;
}
.t-save {
	margin: 20px 0;
	line-height: 1px;
	border-right: 1050px solid #ddd;
	text-align: left;
}
.t-city{
	border-radius: 30px;
	background-color: rgba(0,0,0,.8);
	padding: 40px;
}
.search-city{
	position: relative;
}
.search-city input{
	border: none;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    padding: 0 10px;
    outline: none;
    background: #cfcfcf;
}
.search-city .t-city-list{
	background: #fff;
    position: absolute;
    top: 43px;
    left: 0;
    width: 220px;
    border-radius: 10px;
}
.search-city .t-city-list li{
	line-height: 25px;
    border-radius: 10px;
}
.search-city .t-city-list li a:hover{
	background-color: #cfcfcf;
	color: #fff;
}
.search-city .t-city-list li a{
	display: block;
	height: 100%;
	color: #000;
	padding: 2px 10px;
	line-height: 25px;
    border-radius: 10px;
}
.c-city a{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-right: 20px;
}
.t-con{
	margin: 30px 0;
}
.t-con h4{
	position: relative;
	padding: 5px 0;
}
.t-con h4 span{
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 1px;
	width: 80px;
}
.t-tuijian{
	display: flex;
	margin: 30px 0;
}
.t-tuijian>div{
/*	flex: 1;*/
}
.bor-das{
	height: 282px;
	margin: 0 30px;
	border-left: 1px dashed #ddd;
}
.t-list-t{
	display: inline-block;
	width: 267px;
}
.t-list-t a{
	display: block;
	width: 100%;
}
.t-list-t .c-list-img>img{
	height: 180px;
}
.t-list-t p{
	margin: 10px 0;
    word-break: break-word;
}
.t-list-t .c-list-img{
	position: relative;
}
.t-list-t .c-list-img span{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 25px;
    position: absolute;
    left: 0;
    width: 229px;
    height: 25px;
    padding-left: 38px;
    bottom: 0;
    z-index: 10;
}
.t-list-t .c-list-img span i{
	position: absolute;
	left: 0;
	top: 0;
	height: 15px;
	line-height: 15px;
	padding: 5px;
	font-style: normal;
}
.t-ico-1{
	border: 1px solid #6a3906;
	border-radius: 5px;
	padding: 0 5px;
}
.t-con{
	position: relative;
}
.t-con{
	position: relative;
}
.na-bt{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
}
.na-bt a{
	display: inline-block;
	width:31px;
	height: 30px;
	cursor: pointer;
}
.na-bt .after{
	background: url(../../../img/left-right.png) no-repeat;
}
.na-bt .next{
	background: url(../../../img/left-right.png) no-repeat -30px 0px;
}
.color-title{
	width: 100%;
    height: 40px;
}
.colored{
	display: inline-block;
	line-height: 40px;
	height: 40px;
	font-size: 24px;
    color: #a0a0a0;
}
.result{
	text-align: center;
	width: 100%;
}

.bg-cc1{
    background-color: #00b7ee;
}
.bg-cc2{
    background-color: #f29c9f;
}
.bg-cc3{
    background-color: #8fc31f;
}
.bg-cc4{
    background-color: #f39800;
}
.bg-cc5{
    background-color: #ffe100;
}
.bg-cc6{
    background-color: #fa4620;
}
.bg-cc7{
    background-color: #fe668d;
}
.bg-cc8{
    background-color: #8fc31f;
}
.cOoo{
	padding: 0px 7px;
	border-radius: 5px;
	color: #6A3906;
	margin-right: 5px;
	display: inline-block;
}
.free{
	color: #ff7e00;
}
.fee{
	color: #80d610;
}
